:root {
    /* --shadeofwhite: #f8f8f7; */
    --shadeofblack: #333132;
    --grape: #94618E;
    --lightgray: #d3d3d3;
    --lightpurple: #D8BFD8;
}


/* Style the body */

body,
html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}


/* define the fonts  */

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}


/* header image */

.header-img img {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30%;
}


/* content class to determine the width for all the content on all pages*/

.content {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    padding-top: 30px;
}


/* desktop nav bar */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:visited {
    background-color: var(--grape);
    text-decoration: underline;
}

ul.topnav li.right {
    float: right;
}

.logo {
    font-weight: bold;
}


/* mobile navigation styling */

.mobile-nav {
    display: none;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 270px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: medium;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}

.openbtn {
    font-size: medium;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
    background: transparent;
}

.openbtn:hover {
    background-color: #444;
}


/* footer design */

footer {
    padding: 10px;
    height: 10vh;
    color: gray;
    font-size: 12px;
}


/******************* home page ******************* */


/* heading, page title */

.heading {
    margin-top: 10%;
}

.heading h1 {
    font-weight: 400;
    letter-spacing: -3px;
    line-height: 90px;
}

.top-word {
    color: var(--grape);
    font-size: 44px;
    text-decoration: underline;
    text-decoration-color: orange;
}

.bottom-word {
    font-size: 88px;
}


/* bouncing arrow */

a {
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

.arrow {
    text-align: center;
    margin: 8% 0;
}

.bounce {
    -webkit-animation: bounce 4s infinite;
    animation: bounce 4s infinite;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}


/* cicrcle nav section */

.browse-icons {
    background: linear-gradient(to right, black 2px, transparent 2px) 0 0, linear-gradient(to right, black 2px, transparent 2px) 0 100%, linear-gradient(to left, black 2px, transparent 2px) 100% 0, linear-gradient(to left, black 2px, transparent 2px) 100% 100%, linear-gradient(to bottom, black 2px, transparent 2px) 0 0, linear-gradient(to bottom, black 2px, transparent 2px) 100% 0, linear-gradient(to top, black 2px, transparent 2px) 0 100%, linear-gradient(to top, black 2px, transparent 2px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.icon-circle {
    background-color: #f3e6e8;
    background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
    width: 100px;
    height: 100px;
    display: inline-block;
}


/* center the browse heading and description text on the home page  */

.browse-icons h3,
.categories h3,
.nav-description {
    text-align: center;
}

.categories {
    height: 100vh;
}


/* hr for category  */

.cat-divider {
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: #d3d3d3;
}


/* Category cards, Float four  paper-colums side by side */

.paper-cols {
    float: left;
    width: 25%;
    padding: 0 20px 30px;
}


/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -5px;
}


/* Clear floats after the  paper-colss */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* create space between the title and the hr line */

.category-cards {
    margin-top: 50px;
}

.paper h4 {
    padding-bottom: 90px;
}

.paper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    position: relative;
    background-color: #f1f1f1;
}

.paper,
.paper::before,
.paper::after {
    /* Add shadow to distinguish sheets from one another */
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
}

.paper::before,
.paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
}


/* Second sheet of paper */

.paper::before {
    left: 7px;
    top: 5px;
    z-index: -1;
}


/* Third sheet of paper */

.paper::after {
    left: 12px;
    top: 10px;
    z-index: -2;
}


/* side nav sub category  */


/* Style the tab */

.tab {
    float: left;
    text-decoration: underline;
    width: 20%;
    height: 40vh;
}


/* Style the buttons inside the tab */

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 0px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    color: orange;
}


/* Create an active/current "tab button" class */

.tab button.active {
    color: var(--grape);
}


/* Style the tab content */

.subtabcontent {
    float: left;
    width: 80%;
    border-left: none;
    height: 40vh;
}


/* ***************LANDING PAGE /index*************************** */

.bgimg {
    min-height: 100%;
}

.index-body {
    background: #333132;
    padding: 50px;
    overflow: hidden;
    color: #FFF;
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.text-wrap {
    margin: 0;
    position: relative;
    width: 100%;
}

.text-wrap svg {
    position: absolute;
    width: 100%;
    height: auto;
    font: bold 100px sans-serif;
    text-transform: uppercase;
}

.text-wrap svg .img-layer {
    fill: url(#p-img);
    font-size: medium;
}

.text-wrap svg .gradient-layer {
    fill: url(#g-overlay);
    font-size: medium;
}


/* text on the landing page */

.index-heading {
    margin-top: 20%;
    font-size: 70px;
    letter-spacing: -3px;
    line-height: 80px;
}

.index-text {
    font-weight: 300;
    letter-spacing: 1px;
}


/* the inputs for the mail list */

.email-input {
    width: 60%;
    border: none;
    border-bottom: 0.1px solid gray;
    padding: 3px 10px;
    outline: none;
    color: white;
    background: transparent;
}

input[class=email-submit] {
    background-color: transparent;
    border: 1px solid gray;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.browse-articles {
    display: inherit;
    text-decoration: underline;
    color: silver;
}


/* ***************************CATEGORY PAGE *************************** */

.category-content {
    max-width: 1600px;
}

.category-header-sec {
    padding-bottom: 100px;
    background-color: #333132;
    color: white;
}

.category-heading {
    width: 400px;
    margin-top: 100px;
}

.category-heading h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1px;
    font-size: 28px;
}

.category-recommend {
    display: inherit;
    margin-top: 30%;
    text-align: center;
    color: orange;
    font-size: 17px;
    text-decoration: underline;
}

.follow-buttons {
    padding-bottom: 26%;
}

.category-subscribe {
    text-align: center;
}

.category-submit-btn {
    background-color: var(--grape);
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
}


/* Style tab links */

.tablink {
    float: left;
    border: none;
    border-bottom: 1px solid var(--lightgray);
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: medium;
    width: 50%;
}

.tablink:hover {
    background-color: var(--lightgray);
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
}


/* styling for show iframe on hover */

.tiptext {
    color: #069;
    cursor: pointer;
}

.description {
    display: none;
    position: absolute;
    border: 1px solid #000;
    width: 400px;
    height: 400px;
}


/* hr for the links */

.article-container hr {
    border-color: var(--lightgray);
    width: 80%;
}


/* make the div for the links scrollable */

.scrollable {
    height: 600px;
    margin-top: 70px;
    overflow-y: auto;
}


/* incrasse padding for the ul list */

.article-container ul {
    padding-left: 50px;
}


/* change the color for the bullet */

.article-container ul li {
    color: var(--grape);
}


/* change the color for the text */

.article-container ul li a {
    color: black;
    font-weight: 300;
}


/* change the links on hover */

.article-container ul li a:hover {
    font-size: 18px;
    font-weight: 400;
}


/* modfiying the scrollbar - note: it doesn't work in firefox, Edge and IE */


/* width */

 ::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: var(--grape);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}


/* *************************NESWFEED PAGE********************* */

.newsfeed-content {
    width: 1600px;
}


/* *************************ABOUT PAGE********************* */

.about-card,
.recommend-card {
    display: inline-block;
    line-height: 4em;
    text-align: center;
    margin: 2em 4em;
    padding-bottom: 100px;
    width: 700px;
    background: var(--shadeofwhite);
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.about-header {
    height: 10vh;
}

.about-content {
    text-align: center;
}

.about-img img,
.landing-img img {
    height: 100px;
    width: 100px;
    margin-top: 30px;
}


/* heading for the about page and the recommend page */

.about-heading h1,
.form h1 {
    letter-spacing: -3px;
    font-size: 30px;
}


/* story  */

.story {
    width: 70%;
    display: inline-block;
    line-height: 2.9;
    text-align: left;
}


/* ****************RECOMMEND A PAGE********************** */


/* contact fomr styling  */

.contact-input {
    line-height: 3;
}

.contact-input input {
    color: var(--grape);
    background-color: rgba(255, 255, 255, .6);
    width: 80%;
    height: 40px;
    border: 0px solid;
    font-weight: 800;
}

.contact-input label {
    display: block;
    font-size: small;
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* nav bar */
    .topnav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    /************** styling for the home page ***************/
    .header-img img {
        height: 100px;
        width: 100px;
        margin-top: 10%;
    }
    .bottom-word {
        font-size: 30px;
        text-align: center;
    }
    .browse-icons {
        padding-top: 30px;
        margin-top: 10%;
    }
    .browse-icons h3 {
        font-size: medium;
    }
    .top-word {
        font-size: 25px;
        text-align: center;
    }
    .arrow {
        display: none;
    }
    .nav-description {
        font-size: small;
        padding-bottom: 30px;
    }
    .tablink {
        font-size: small;
    }
    .heading {
        margin-top: 17%;
    }
    .heading h1 {
        line-height: 42px;
    }
    /* remove the top padding for mobile versions on the nav circle icons */
    .browse-icons .w3-padding-64 {
        padding-top: 0px!important;
    }
    .categories h3 {
        font-size: large;
    }
    .category-cards {
        margin-top: 0px;
    }
    .paper-cols {
        width: 95%;
        margin-bottom: 0px;
    }
    .paper h4 {
        padding-bottom: 0px;
        font-size: small;
    }
    .paper {
        width: 100%;
    }
    .sidepanel {
        display: block;
    }
    .tab button {
        font-size: 12px;
        padding: 21px 0px;
    }
    .categories {
        height: 160vh;
    }
    /********** the index / landing page styling **************/
    .index-heading {
        margin-top: 41%;
        font-size: 27px;
        letter-spacing: -2px;
        text-align: center;
        line-height: 40px;
    }
    .index-text {
        letter-spacing: 1px;
        font-size: smaller;
        width: 300px;
        text-align: center;
    }
    .email-form {
        text-align: center;
    }
    /* ********** about page and recommend page ***************** */
    .about-card,
    .recommend-card {
        display: block;
        padding-top: 5%;
        width: 100%;
        margin: 0;
        margin-top: 30%;
        font-size: small;
    }
    /* re-size the heading for the recommned page */
    .form h1 {
        letter-spacing: 0px;
        font-size: medium;
    }
    /***************category-help page********************  */
    .wilderness-fly img {
        display: none;
    }
    .category-fly {
        text-align: center;
        margin-left: 0px;
        margin-top: 5%;
    }
    .category-fly img {
        height: 100px;
        width: 100px;
    }
    .category-heading {
        margin-top: 10%;
    }
    .category-heading h1 {
        font-size: medium;
        letter-spacing: 0px;
    }
    .category-header-sec {
        padding-bottom: 50px;
    }
}


/* styling the iphone 5 screen for the index page */

@media only screen and (max-width: 320px) {
    .index-heading {
        margin-top: 70%;
    }
    .categories {
        height: 178vh;
    }
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media only screen and (min-width: 481px) and (max-width: 768px) {
    /***************category-help page********************  */
    .category-heading h1 {
        font-family: 'Roboto', sans-serif;
        font-size: large;
        margin-top: 20%;
        letter-spacing: 0px;
    }
    .category-heading {
        width: 100%;
        margin-top: 0px;
    }
    .category-fly {
        margin: 0;
    }
    .wilderness-fly img {
        height: 200px;
        width: 200px;
    }
    .category-header-sec {
        padding-bottom: 0px;
    }
    .category-desc {
        font-size: medium;
    }
    /* ***************HOME PAGE******************** */
    a {
        font-size: large;
    }
    .bottom-word {
        font-size: 66px;
    }
    .header-img img {
        width: 200px;
        height: 200px;
    }
    .nav-description {
        font-size: large;
    }
    .paper-cols {
        width: 50%;
    }
    .paper h4 {
        padding-bottom: 10px;
        font-size: x-large;
    }
    .tab button {
        font-size: 20px;
    }
    /* ************inex page ****************/
    .index-heading {
        font-size: 62px;
        line-height: 70px;
    }
}


/* larger size tablets  */

@media only screen and (min-width:769px) and (max-width: 1024px) {
    /***************category-help page********************  */
    .category-heading h1 {
        font-family: 'Roboto', sans-serif;
        font-size: x-large;
        margin-top: 20%;
        letter-spacing: 0px;
    }
    .category-heading {
        width: 100%;
        margin-top: 0px;
    }
    .category-fly {
        margin: 0;
    }
    .wilderness-fly img {
        height: 300px;
        width: 300px;
    }
    .category-fly img {
        height: 300px;
        width: 300px;
    }
    .category-header-sec {
        padding-bottom: 0px;
    }
    .category-desc {
        font-size: x-large;
    }
    .category-content h3 {
        font-size: xx-large;
    }
    .tablink {
        font-size: x-large;
    }
    .tabcontent p {
        font-size: x-large;
    }
    ul.topnav li a {
        font-size: x-large;
    }
    .article-container ul li a {
        font-size: x-large;
    }
    /* ***************HOME PAGE******************** */
    a {
        font-size: x-large;
    }
    .bottom-word {
        font-size: 77px;
    }
    .header-img img {
        width: 300px;
    }
    .nav-description {
        font-size: x-large;
    }
    .paper-cols {
        width: 50%;
    }
    .paper h4 {
        padding-bottom: 20px;
        font-size: xx-large;
    }
    .tab button {
        font-size: 30px;
    }
    /* ***********Recommend page and about******************** */
    .contact-input label,
    .story p {
        font-size: x-large;
    }
    /* ***************index page*************** */
    .index-text {
        font-size: x-large;
    }
    .email-form {
        font-size: x-large;
    }
}