:root {
    /* --shadeofwhite: #f8f8f7; */
    --shadeofwhite: #ececec;
    --grape: #94618E;
    --lightgray: #d3d3d3;
}


/* Style the body */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: var(--shadeofwhite);
}


/* header image */

.header-img img {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30%;
}


/* image for the small screens */

@media only screen and (max-width: 600px) {
    .index-top img {
        height: 150px;
        width: 150px;
    }
}


/******************* index page - welcome page ******************* */


/* content */

.content {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    padding-top: 30px;
}


/* nav bar */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    /* background-color: #111; */
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li.right {
    float: right;
}

.logo {
    color: green;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}


/* header section */

.header-sec {
    height: 100vh;
}


/* heading, page title */

.heading {
    margin-top: 10%;
}

.heading h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: -3px;
    line-height: 90px;
}

.top-word {
    color: var(--grape);
    font-size: 44px;
}

.bottom-word {
    font-size: 88px;
}

@media screen and (max-width: 600px) {
    .bottom-word {
        font-size: 18px;
    }
}


/* bouncing arrow */

a {
    text-decoration: none;
}

.arrow {
    text-align: center;
    margin: 8% 0;
}

.bounce {
    -webkit-animation: bounce 4s infinite;
    animation: bounce 4s infinite;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}


/* cicrcle nav section */

.circle-nav {
    background: linear-gradient(to right, black 2px, transparent 2px) 0 0, linear-gradient(to right, black 2px, transparent 2px) 0 100%, linear-gradient(to left, black 2px, transparent 2px) 100% 0, linear-gradient(to left, black 2px, transparent 2px) 100% 100%, linear-gradient(to bottom, black 2px, transparent 2px) 0 0, linear-gradient(to bottom, black 2px, transparent 2px) 100% 0, linear-gradient(to top, black 2px, transparent 2px) 0 100%, linear-gradient(to top, black 2px, transparent 2px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 40vh;
}


/* page nav title */

.circle-nav h3,
.categories h3 {
    text-align: center;
}

.nav-description {
    text-align: center;
}


/* hr for category  */

.cat-divider {
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: #d3d3d3;
}


/* Category cards, Float four columns side by side */

.column {
    float: left;
    width: 25%;
    padding: 0 20px 30px;
}


/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -5px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Style the category cards */


/* create space between the title and the hr line */

.category-cards {
    margin-top: 50px;
}

.card h3 {
    color: var(--grape);
}

.recommend-link {
    font-size: 12px;
    color: gray;
}

.recommend-link :hover {
    text-decoration: underline;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.categories {
    height: 60vh;
}


/* footer design */

footer {
    padding: 10px;
    height: 10vh;
    color: gray;
    font-size: 12px;
}


/* ***************LNADING PAGE *************************** */

body,
html {
    height: 100%
}

.bgimg {
    background-image: url('circles.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}


/* landing card */

.landing-card {
    width: 400px;
    height: 400px;
    background-color: #454547;
    margin-right: 700px;
}

.welcome-text {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 400;
    color: #ff726f;
    padding: 40px;
    padding-top: 60px;
    letter-spacing: 2px;
    line-height: 40px;
}


/* logo image */

.logo-img {
    height: 50px;
    width: 50px;
}

.logo-circle {
    border: 1px solid black;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    /* resize the landing card */
    .landing-card {
        width: 300px;
        height: 300px;
    }
    .welcome-text {
        letter-spacing: 0px;
        line-height: 20px;
    }
    .bgimg {
        background-image: url('circles.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
}


/* ***************************CATEGORY PAGE *************************** */

.category-content {
    max-width: 1600px;
}

.category-header-sec {
    height: 60vh;
}

.category-fly {
    margin-left: 100px;
    margin-top: 100px;
}

.wilderness-fly img {
    height: 400px;
    width: 400px;
    float: right;
}

.second-category-fly img {
    float: right;
    position: relative;
    right: 24%;
}

.category-heading {
    width: 400px;
    margin-top: 100px;
}

.category-heading h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: -3px;
}

.category-links {
    height: 100vh;
}


/* Style tab links */

.tablink {
    float: left;
    border: none;
    border-bottom: 1px solid var(--lightgray);
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: var(--lightgray);
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.rectangle {
    display: block;
    height: 80px;
    width: 250px;
    position: relative;
    margin-top: 100px;
    border-radius: 5px;
    /* border: 2px solid var(--grape); */
    background: white;
}


/* .circle {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    border: 3px solid var(--grape);
    left: 50%;
    margin-left: -25px;
    top: -20px;
    background: white;
} */

.article-container {
    display: inline-block;
}


/* positioning the vertical line */

.vl {
    border-left: 2px solid var(--lightgray);
    height: 600px;
    position: absolute;
    left: 50%;
    margin-top: 800px;
    margin-left: -3px;
    top: 0;
}


/* styling for show iframe on hover */

.tiptext {
    color: #069;
    cursor: pointer;
}

.description {
    display: none;
    position: absolute;
    border: 1px solid #000;
    width: 400px;
    height: 400px;
}